* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
    background-color: #232323;
    color: #fff;
}

header h1 {
    font-weight: bold;
}
